@using DemoApp
@using Honeypot.Helpers
@model CreditCard

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Enter your credit card data</h2>
<form method="post" action="/Home/PostCreditCardData">
    <fieldset>
        <div class="editor-field">
            @Html.HoneyPotField("HolderName", null, true, "Holder name")
        </div>
        <div class="editor-field">
            @Html.HoneyPotField("ValidDate", null, true, "Valid date")
        </div>
        <div class="editor-field">
            @Html.HoneyPotField("CardNumber", null, true, "Card number")
        </div>
        <div class="editor-field">
            @Html.HoneyPotField("SecurityCode", null, true, "Security code")
        </div>
        <div class="editor-field">
            <button class="ui-button" type="submit">Submit</button>
            <button type="button" onclick="sendBotData()">Submit as bot</button>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    var sendBotData = function () {
        var formData = new FormData();
        formData.append('HolderName', 'My Name');
        formData.append('ValidDate', '2018-05-06');
        formData.append('CardNumber', 'XXXXX-XXXXX-XXXX-XXXX');
        formData.append('SecurityCode', '012');

        $.ajax({
            url: "/Home/PostCreditCardData",
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function(response){
                location.href = response;
            },
        });
    }
</script>