@{
    ViewBag.Title = "Index";
}
@using MvcJqGrid
<h2>Honeypot system report</h2>
<style>
    .ui-jqgrid .ui-jqgrid-btable {
        table-layout: auto;
    }
</style>
<script type="text/javascript">
    function longDataformatter(cellvalue, options, rowObject) {
        var originalVal = "<span style='display:none'>" + cellvalue + "</span>"
        var hideElem = "<button onclick='showData(this)'>Show data</button>"
        return hideElem + originalVal;
    }
    function showData(elem) {
        if (elem) {
            $(elem).hide();
            $(elem).siblings().first().show();
            resizeGrid();
        }
    }
</script>

@(Html.Grid("RecordsGrid")
    .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "id", RepeatItems = false })
    .SetCaption("Log Records")
    .AddColumn(new Column("Id")
        .SetWidth(30)
        .SetSortable(true)
        .SetResizeable(true))
    .AddColumn(new Column("ClientIP")
        .SetWidth(150))
    .AddColumn(new Column("ClientBrowser")
        .SetResizeable(true)
        .SetCustomFormatter("longDataformatter")
        .SetWidth(100))
    .AddColumn(new Column("PostData")
        .SetResizeable(true)
        .SetCustomFormatter("longDataformatter")
        .SetWidth(100))
    .AddColumn(new Column("RequestDate")
        .SetFormatter(MvcJqGrid.Enums.Formatters.Date)
        .SetWidth(150)
        .SetResizeable(true))
    .SetUrl(Url.Action("List", "Home"))
        //.SetAutoWidth(true)
    .SetRowNum(30)
    .SetRowList(new[] { 30, 50, 100 })
    .SetViewRecords(true)
    .SetPager("pager").SetSortOnHeaderClick(true).SetShrinkToFit(true)
    .SetShowAllSortIcons(true)
    .SetSortOnHeaderClick(true)
    .SetLoadOnce(true)
    .OnGridComplete("resizeGrid()"))


<script type="text/javascript">
    function resizeGrid() {
        debugger
        $("#RecordsGrid").jqGrid('setGridWidth', $(window).width() - 30);
    }
    $(window).bind('resize', function () {
        resizeGrid();
    }).trigger('resize');
</script>